html {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: darkslategrey;
    text-align: center;
    margin: auto;
    padding: 2rem;
}

main {
        width: 100vw;
    background-color: rgb(0, 0, 0);
        object-fit: cover;
    display: block;
}

.project-section {
    text-align: center;
    margin: auto;
}

.project-item {
    padding: 1rem;
    box-shadow: 20px;
}

.project-item h3 {
    color:gray;
}

.image-container {
    overflow: hidden;
        background-image: url(../images/moundire.jpg);
}

.image-container img {

    width: 100vw;
    /* Image width will be 100% of the viewport width */
    height: 19vw;
    /* Image height will be 100% of the viewport height */
    object-fit: cover;
    /* Ensures image covers the entire area while maintaining aspect ratio and cropping excess */
    display: block;
    /* Helps remove excess space left by inline elements */
    transition: all 0.5s;

}

.project-item img:hover {
    background-size: 110%;
    scale: 110%;
    background-color: red;
    background-blend-mode:overlay;
}