* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    background-color: rgb(14, 16, 16);
    text-align: center;
    padding: 2rem;
    color: aliceblue;
}

nav a {
    text-decoration: none;
    color: rgb(194, 204, 212);
    padding: 0.4rem;
}

main {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    object-fit: cover;
}

.project-section {
    text-align: center;
}

.project-item {
    padding: 1rem 0 1rem 0;
    display: block;
    margin: 0, 0, 0, 0;
}

.project-item h3 {
    color: rgb(222, 222, 222);
}

.image-container {
    overflow: hidden;
}

.image-container img {

    width: 100vw;
    /* Image width will be 100% of the viewport width */
    height: 19vw;
    /* Image height will be 100% of the viewport height */
    object-fit: cover;
    /* Ensures image covers the entire area while maintaining aspect ratio and cropping excess */
    display: block;
    /* Helps remove excess space left by inline elements */
    transition: all 0.5s;
    padding: 1rem;
    box-shadow: 3rem 3rem 5px lightblue;

}

.project-item img:hover {
    background-size: 110%;
    scale: 110%;
    background-color: rgb(0, 0, 0);
    background-blend-mode: overlay;
}